	/*** Inserta tu codigo aqui ***/
		/*** GENERAL ***/
header{
	background-color: #BEBCBC;
}

li{
	background-color: #BEBCBC;
	width: 100%;
	margin: 1% 0%;
	text-align: left;
	padding: 2%; 
	border-radius: 5px 30px 45px 60px;
	font-weight: bold;
}

ul li.checked {
  text-decoration: line-through;
}

#listaTareas{
	height: 15em;
	margin-top: 5%;
	list-style-type: none;
}

.pd-5{
	padding: 3% 5%;
}
.mgt-3{
	margin-top: 3%;
}
